<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>PRUEBAS ANGULAR BASICO</h1>
  <p>Prueba 1: interpolacion simple de string</p>
  <h3> {{message}}</h3>

  <p>Prueba 2: array simple</p>
  <ul>

    <li *ngFor="let animal of animals">{{animal}}</li>
  </ul>


  <p>Prueba 3: array complejo</p>

  <ul>
      <li *ngFor="let person of persons">
          <span> {{ person.name }} </span>
          <small> ({{ person.category }}) </small>
      </li>
  </ul>

  <p>Prueba 4: ngIf</p>
  <p *ngIf="animals.length > 3"> There are many animals! </p>
</body>
</html>